/* Все свойства в этом докумете написаны исключительно из эстетических побуждений автора */

.bg-purple{
    background-color: #a648a2;
}

.text-purple{
    color: #a648a2;
}

.container-img{
    border-radius: 5;
}

.border-purple {
    border: 5px solid #a648a2;
    border-radius: 10px;
    padding: 15px;
}

#dignities .border-purple {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#dignities img {
  width: auto;
  height: auto;
  max-height: 150px;
}

.alert-mint {
    color: #fff;
    background-color: #3eb489;
    border-color: #308d6b;
}

body {
    margin-right: 0;
}

.btn-purple {
    border: solid #fff;
    background-color: #a648a2;
    color: #fff;
}

.btn-purple:hover {
    background: none;
    border: solid #a648a2;
    color: #a648a2;
    position: static;
}

.form-control:focus {
    border-color: #a648a2;
    box-shadow: 0 0 0 0.2rem rgba(166, 72, 162, 0.4);
}

.form-select:focus {
    border-color: #a648a2;
    box-shadow: 0 0 0 0.2rem rgba(166, 72, 162, 0.4);
}

